body {
  background-color:#000000;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
html, body {
    height: 100%;
}
h1 {
	font-size: 3.2em;
	font-weight: 100;
}
h3 {
	font-size: 2.2em;
	font-weight: 700;
	margin-top: 0;
}
h4 {
	/*color: #EF6362;*/
}
p {
	font-size: 1.6em;
	font-weight: 200;
}
ul {
	font-size: 1.7em;
	font-weight: 200;
	padding-left: 15px;
}
ol {
  	font-size: 2.0em;
	font-weight: 200;
  	padding-left: 32px;
}​
a {
	color: #FF324B;
	text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: #FF324B;
  text-decoration: none;
}
a:hover {
  color: #FF324B;
  font-weight: bolder;
}


.margin-top {
	margin-top: 1.8em;
}


.div-hero {
    padding-top: 4em;
    margin-bottom: 2em;
    margin-right: 12%;
    overflow: hidden;
}
.div-hero-xs {
	float: left;
    margin-left: 2em;
    margin-right: 5em;
}
.div-focused {
	clear: left;
    float: left;
    margin-left: 8em;
    margin-top: 3em;
    margin-bottom: 24em;
    width: 44%;
}
.div-focused-xs {
	float: left;
    margin-left: 2em;
    margin-top: 6em;
    margin-bottom: 8em;
}
.div-motivate {
    padding-top: 4em;
    margin-left: 8em;
    margin-bottom: 16em;
    margin-right: 2em;
    overflow: hidden;
}
.div-motivate-xs {
    padding-top: 4em;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    overflow: hidden;
}
.div-motiate_margin {
	margin-top: 3em;
	clear: both;
}
.div-motivate_align {
	overflow: hidden;
	max-width: 50%;
	font-size: 0.9em;
}
.div-motivate_align-xs {
	overflow: hidden;
	max-width: 80%;
	font-size: 0.9em;
}
.div-finalhero {
	overflow: hidden;
	max-width: 40%;
}
.div-greyback {
	background-color: #171717;
	overflow: auto;
	clear: both;
}
.div-dictionary {
	margin-left: 8em;
	margin-top: 4em;
	overflow: hidden;
	display: block;
	border: solid 0.5px;
	border-radius: 8px;
	padding: 1em 1em 1em 1em;
	max-width: 60%;
}
.div-contact {
	font-size: 2em;
    font-weight: 200;
    line-height: 32px;
    margin-right: 2em;
    margin-top: 4em;
    text-align: right;
}
.div-contact-xs {
	font-size: 1.5em;
    font-weight: 200;
    line-height: 32px;
    margin-right: 1em;
    margin-top: 1em;
    text-align: right;
}
.div-footer {
    margin-left: 8em;
    margin-right: 2em;
    margin-bottom: 2em;
    overflow: hidden;
    color: #4A4A4A;
}
.div-footer-xs {
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 1em;
    overflow: hidden;
    color: #4A4A4A;
}

.img-appstore {
	margin-top: 5%;
    width: 50%;
}
.img-herowatch {
    max-width: 38%;
    position: relative;
    float: left;
    margin-right: 8%;
}
.img-badge_sync {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 65%;
    position: relative;
}
.img-badge_sync-xs {
    margin-left: 17px;
    margin-top: 10px;
    max-width: 66%;
    position: relative;
}
.img-watch_focus {
	float: right;
    max-width: 32%;
}
.img-watch_haptics {
	float: right;
    max-width: 36%;
    padding-right: 4em;
    padding-top: 6em;
}
.img-watch_chart {
	float: right;
    max-width: 31%;
    padding-right: 8em;
    padding-top: 4em;
}
.img-watch_breaks {
	float: left;
    margin-right: 4em;
    max-width: 22%;
}
.img-box_activities {
	margin-bottom: 8em;
    margin-left: 8em;
    margin-top: 8em;
    max-width: 70%;
}
.img-box_activities_xs {
	margin-bottom: 4em;
    margin-left: 2em;
    max-width: 80%;
}
.img-motivate {
	max-width: 10%;
    position: relative;
    float: left;
    margin-right: 4em;
}
.img-motivate-xs {
	float: left;
    margin-right: 1em;
    margin-top: 3em;
    max-width: 20%;
    position: relative;
}
.img-tweet {
    margin-left: 0.8em;
    margin-right: 0.5em;
    max-width: 2.5%;
}
.img-tweet-xs {
    margin-left: 0.8em;
    margin-right: 0.5em;
    max-width: 5.5%;
}
.list-breaks {
	display: inline-block;
	margin-right: 1.3em;
}


.flip-container {
  	float: right;
    margin-top: 4em;
    max-width: 10%;
    position: relative;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* flip the pane when hovered */
	/* flip speed goes here */
	/*.flipper*/
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(540deg);
}
.flip-container,
.flip-container .front,
.flip-container .back {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.flip-container .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
}
.flip-container .flipper .front, .flip-container .flipper .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container .flipper .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.flip-container .flipper .back {
  transform: rotateY(540deg);
}

.flip-container2 {
  	margin-top: 4em;
    max-width: 25%;
    margin-left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* flip the pane when hovered */
	/* flip speed goes here */
	/*.flipper*/
}
.flip-container2:hover .flipper, .flip-container2.hover .flipper {
  transform: rotateY(540deg);
}
.flip-container2,
.flip-container2 .front,
.flip-container2 .back {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.flip-container2 .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
}
.flip-container2 .flipper .front, .flip-container2 .flipper .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container2 .flipper .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.flip-container2 .flipper .back {
  transform: rotateY(540deg);
}

#delaybox {
	display: none; 
}
#delaybox2 {
	display: none; 
}





.font-logo {
	margin-top: .65em;
	font-size: 1.8em;
	margin-bottom: 1.0em;
}

.story-block {
	max-width: 60%;
	margin-bottom: 150px;
}

.def-block {	
	display: block;
	border: solid 1px;
	border-radius: 8px;
	padding: 0 0 1em 1em;
}
.background-wave {
	background-image: url("https://dl.dropboxusercontent.com/s/90m1ex3h2bwhdcs/wave%402x.png?dl=1");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


.border-footer {
	border-top-style: solid; 
	width: 100%;
    border-top-width: 2px;
    border-top-color: #8087A6;
}

@media(max-width: 800px) { /* for devies under 600px width, iPhone 6+ */
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.3em;
    margin-top: 0.4em;
  }
  h3 {
    font-size: 1.1em;
    margin-top: 0.6em;
  }
  h4 {
    font-size: 0.9em;
  }
  p {
  	font-size: 1.2em;	
  }

 ul {
 		font-size: 0.8em;
 	}
 .font-logo {
		font-size: 1.8em;
	}
	.story-block {
		max-width: 92%;
		margin-bottom: 100px;
	}
}

#container {
  margin-bottom: 50px;
	margin-top: 75px;
}

#container DIV { 
	
}

.hideme {
  opacity:0;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
	animation-duration: 1.6s;
}
 
.fade-in.one {
	-webkit-animation-delay: 1.4s ease-in;
	-moz-animation-delay: 1.4s ease-in;
	animation-delay: 1.4s ease-in;
}
 
.fade-in.two {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
 
.fade-in.three {
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	animation-delay: 2.2s;
}