body {
  background-color:#2E4675;
  color: #fff;
}

h1 {
	font-size: 3.0em;
}

h2 {
	font-size: 2.6em;
	font-weight: 300;
	color: #EF6362;
}

h3 {
	margin-top: 4px;
}

h4 {
	color: #EF6362;
}

p {
	font-size: 2.4em;
}

ul {
	padding-left: 1em;
}

.font-logo {
	margin-top: .75em;
	font-size: 2.5em;
}

.story-block {
	max-width: 60%;
	margin-bottom: 150px;
}

.def-block {	
	display: block;
	border: solid 2px;
	border-radius: 12px;
	padding: 1em 2em;
}
.background-wave {
	background-image: url("https://s3-us-west-2.amazonaws.com/silofocus/wave%402x.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media(max-width: 800px) { /* for devies under 600px width, iPhone 6+ */
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
    margin-top: 0.4em;
  }
  h3 {
    font-size: 1.2em;
    margin-top: 0.6em;
  }
  h4 {
    font-size: 0.9em;
  }
  p {
  	font-size: 1.3em;	
  }

 ul {
 	font-size: 0.8em;
 }
  .font-logo {
		font-size: 2.2em;
	}
	.story-block {
		max-width: 92%;
		margin-bottom: 100px;
	}
}

#container {
  margin-bottom: 50px;
	margin-top: 75px;
}

#container DIV { 
	
}

.hideme {
  opacity:0;
}